* {
    margin: 0px;
}

.banner {
    background-image: url('./images/banner/banner2.png');

    background-repeat: no-repeat;
    background-size: cover;
    align-items: right;
}

.banner-title {
    text-align: right;
    padding: 216px;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    align-items: right;
}

.banner-p {
    padding-bottom: 30px;
    padding-top: 20px;

}

.btn {
    border: none;
    background: #F15B22;
    color: white;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    width: 160px;
    height: 50px;
    cursor: pointer;

}

.btn:hover {
    color: black;
}

/* main section */
.main-section {
    padding: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.main-img-bg {
    width: 527.929px;
    height: 527.929px;
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);

}

.main-head2 {
    color: #151414;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 50px;

}

.main-description {
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.checkbox {
    padding: 20px;
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    list-style-type: none;

}

.lists {
    padding-bottom: 12px;
}

.plans-section {
    background-color: white;

}

.my-plans {
    padding-top: 100px;
    text-align: center;
}

.plans-title {
    padding-bottom: 50px;
    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plans-head {
    color: var(--dark-01, #151414);
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
}

.plans-p {
    color: var(--dark-03, #737272);
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.plans-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.plans-banner {

    border-radius: 0px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%),url(./images/watch.png);
    border-radius: none;
    width: 1140px;
    height: 300px;
    /* margin-left: 400px;
    margin-top: 100px; */
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 100px;
}

.plans-banner-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-2 {
    border: none;
    background: #ffffff;
    color: orange;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    width: 120px;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;

}

.btn-2:hover {
    color: black;
}

.plans-banner-title {
    padding-left: 100px;
    padding-top: 55px;
}
/* footer */
footer{
   margin-top: 100px;
   padding: 50px;
 
    
    background-color: black; 
}
.footer-title{
    color: #F8F8F8;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 100px 100px 30px 0px; 

}
.footer-description{
    color: #FFF;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.email{
    color: #FFF;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding-bottom: 10px;
padding-top: 10px;
}
.phone{
    color: #FFF;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding-bottom: 10px;
}
.footer-column{
    padding-left: 100px;
}
.social-links{
    margin-top: 10px;
}
.fb{
    margin-right: 15px;
}
.yt{
    margin-left: 15px;
}
.section-title2{
    color: #FFF;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 100px;
padding-left: 1046px;
padding-right: 431px;
}
.main-footer{
  display: flex;
}
.btn3{
    color: #F15B22;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 8px;
background: #FFF;
width: 170.106px;
height: 64px;
flex-shrink: 0;
margin-top: 10px;
margin-left: 1046px;
margin-bottom: 242px;
margin-right: 383px;
}
.btn3:hover{
    color: black;
}
.mail-box{
    color: var(--dark-07, #F3F3F3);
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 225px;
height: 54px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #FFF;

margin-left: 1046px;
margin-top: 31px;
margin-bottom: 16px;

}